@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=M+PLUS+Code+Latin:wght@300&family=Nanum+Gothic&family=Noto+Sans&display=swap");
:root {
  --bodybglight: #ffffff;
  --formbglight: #e5e5e5;
  --bodybgdark: #000124;
  --formbgdark: #37384a;
  --chatbodydark: #8a56bb;
  --messagebg: #8a5e95;
  --usrBar: #9e7bbe;
  --fontcolor: #b6b6b6;
  --fontStyle1: "Josefin Sans", serif;
  --fontStyle2: "Nanum Gothic", sans-serif;
  --fontStyle3: "Noto Sans", sans-serif;
  --fontStyle4: "M PLUS Code", monospace;
  --userCard: #6f1bbd;
  --hoverCard: #360464;
}
/* ****************************General Setup */
body {
  overflow-y: hidden;
}

/* ****************************Designing scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*********************************************************** Main Window design */
.ChattingPage {
  display: flex;
  height: 100vh;
  width: 100%;
}

.userPanel {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: var(--chatbodydark);
}
/****************************************Page's Left Part */
.userPanel .Header {
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--chatbodydark);
  color: var(--fontcolor);
  font-weight: 600;
  font-size: 1.3em;
}
.userPanel button {
  max-height: 30px;
  padding: 5px;
  border-radius: 5px;
}
.userPanel .userList {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: var(--usrBar);
  overflow-y: scroll;
}
/****************** Desigining Cards in userList */
.userPanel .userList .user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid var(--fontcolor);
  background-color: var(--userCard);
  color: var(--fontcolor);
  font-weight: 600;
  font-size: 1.2em;
  transition: all 0.2s ease-in-out;
}
.userPanel .user:hover {
  background-color: var(--hoverCard);
}
/****************************************Page's Right Part */
.initialWindow {
  display: flex;
  flex: 2;
  flex-direction: column;
  background-color: var(--messagebg);
  justify-content: center;
  align-items: center;
}
.initialWindow .initialText {
  font-size: 1.5em;
  font-weight: 600;
  color: var(--fontcolor);
  background-color: var(--hoverCard);
  padding: 10px;
  border-radius: 15px;
}

.messageWindow {
  display: flex;
  flex: 2;
  flex-direction: column;
}
.messageWindow .Header {
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--chatbodydark);
  color: var(--fontcolor);
  font-weight: 600;
  font-size: 1.3em;
  padding-left: 20px;
}

.messageWindow .mainWindow {
  display: flex;
  flex: 1;
  gap: 5px;
  flex-direction: column;
  background-color: var(--messagebg);
  overflow-y: scroll;
  overflow-x: hidden;
}

/******************** Texting Input Area */
.messageWindow .textingInput {
  display: flex;
  align-items: center;
  background-color: var(--chatbodydark);
}

.messageWindow .textingInput textarea {
  flex: 1;
  font-size: 20px;
  outline: none;
  padding: 10px;
  border-radius: 15px;
}

.messageWindow .textingInput button {
  padding: 5px;
  margin: 5px;
  margin-left: 0px;
  border-radius: 5px;
}
/************************************************* Message Box Designing */

.message {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: fit-content;
  max-width: 80%;

  padding: 0px 35px;
  padding-top: 10px;
  overflow-wrap: anywhere;
  border-radius: 5px;
  text-align: left;
  margin: 10px 0px;
}
#Me {
  margin-right: 15px;
  align-self: flex-end;
  background-color: rgb(124, 226, 226);
  box-shadow: 1px 2px 4px rgb(48, 88, 88);
}
#Other {
  margin-left: 15px;
  align-self: flex-start;
  background-color: rgb(226, 124, 226);
  box-shadow: 1px 2px 4px rgb(48, 88, 88);
}
.messageFooter {
  display: flex;
  font-size: small;
  padding-top: 2px;
  flex-direction: row;
  justify-content: space-between;
  min-width: 10%;
  margin-left: -20px;
}

/************************************************* Styling the markdown tools used */

/* Headings designing!! */
.mainWindow .message h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontStyle1);
  margin-bottom: 2px;
  padding-bottom: 0px;
  border-bottom: rgba(85, 85, 85, 0.534) solid 1px;
  width: 100%;
}
/* Paragraph Desigining */
.mainWindow .message p {
  font-family: var(--fontStyle3);
  font-size: small;
  font-weight: 600;
  color: rgb(44, 44, 44);
}
/* Code Desigining */
.mainWindow .message code {
  font-family: var(--fontStyle4);
  font-size: small;
  background-color: rgba(87, 87, 87, 0.712);
  color: rgb(255, 255, 255);
  padding: 0px 2px;
  border-radius: 5px;
}
/* Link Desigining */
.mainWindow .message p em {
  margin: 10px 0px;
  font-size: small;
  color: rgb(87, 87, 87);
  font-style: italic;
  background-color: rgba(255, 245, 238, 0.623);
  padding: 0px 3px;
  border-radius: 5px;
}

.mainWindow .message pre {
  position: relative;
  font-size: small;
  width: 100%;
  background-color: rgba(85, 85, 85, 0.616);
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
  margin-left: -10px;
}
.mainWindow .message pre code {
  background-color: rgba(85, 85, 85, 0);
  color: #fff;
  font-family: fantasy;
}

/*********************************** Micellaneous */

/* Adding new User */
.getContacts {
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: var(--chatbodydark);
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 1px 2px 4px rgb(48, 88, 88);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.getContacts .bg {
  margin: 0;
}
.getContacts .bg {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.getContacts .bg button {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  font-size: small;
}
