@media (min-width: 768px) {
  .box {
    width: 350px;
    margin: 0 auto;
  }
}
.box {
  display: "flex";
  flex-direction: "column";
  align-self: center;
  width: fit-content;
}
input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin: 1vh;
  outline: none;
}
a {
  text-decoration: none;
}
form button {
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin: 1vh;
}

.component {
  display: flex;
  justify-content: space-between;
  margin: 0 2vw;
  gap: 3vw;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a419d4;
  padding: 2vh;
  border-radius: 10px;
  margin-top: 10vh;
  justify-content: center;
}
.component {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  margin-bottom: 5vh;
}
.bg {
  margin-top: 5vh;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.bg button {
  font-size: larger;
  padding: 10px;
}
